/*main.css*/
html{
	background-color:lightgrey;
}
body{
	background-color:#E2E2E2;
	font-family:'Bree Serif', "Century Gothic", serif;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom:0;
	max-width: 800px;
	padding:2%;
	height:100%;
	letter-spacing:.5px;
	border: 2px dotted #D10808;
}
h1{
	font-size:2em;
	color:#D10808;
	margin-bottom:10px;
	font-weight: bold;
}
.heading{
	text-align: center;
}
h2{
	clear:left;
	font-size:1.5em;
	color:black;
	margin-bottom:2px;
	margin-top:5px;
	font-weight: bold;
}
h3{
	font-size:1.25em;
	color:#D10808;
	margin-top:3px;
	margin-bottom: 2px;
	font-weight: bold;
}
h4{
	font-size:1em;
	color:#D10808;
	margin-top:5px;
	margin-bottom: 2px;
}
p{
	font-family:'Signika', Century, sans-serif;
	color:darkslategrey;
	padding:2px;
	margin-top:0;
	margin-bottom:5px;
}
em{
	font-style: italic;
}
strong{
	font-weight: bold;
}

p.date{
	font-variant: small-caps;
	font-family: 'Signika', Century, sans-serif;
	color:darkslategrey;
	padding:0;
	margin-top:0;
	margin-bottom:0;
}
p.headline{
	color:#D10808;
	font-family:'Signika', "Century Gothic Bold", sans-serif;
	text-align:center;
	font-weight:bold;
	margin-bottom:10px;	
}
blockquote{
	font-family:'Signika', Century, sans-serif;
	font-style:italic;
	color:darkslategrey;
	margin-left:10px;
}
blockquote::before{
	content:open-quote;
}
blockquote::after{
	content:close-quote;
}
.activity{
	width:100%;
}
.main{
	width:65%;
	float:left;
}
aside{
	font-style:italic;
	color:darkgrey;
	width:30%;
	float:right;
	font-family:'Bree Serif', Century, sans-serif;
	position:relative;
	font-size:.75em;
}
a.aside:link, a.aside:visited{
	color:darkgrey;
}
img.aside{
	width:225px;
	border-width: 2px;
	border-color: #D10808;
	border-style:solid;
}
ul{
	font-family:'Signika', Century, sans-serif;
	color:darkslategrey;
	list-style:none;
	padding:2px;
	margin-bottom:5px;
}
li::before{
	content:">  ";
	color:#D10808;
	padding-right:5px;
}

li.nav{
	display:inline;
	font-family: 'Signika', Century, sans-serif;
	list-style-position:inside;
	padding:1%;
	white-space:nowrap;
	text-decoration: bold;
}
li.nav::before{
	content:none;
	padding:0;
}
nav{
	text-align: center;
	background-color:#D10808;
	color:lightgrey;
	padding:1%;
	font-weight:bold;
}
nav::after{
	content:"\A"; /*new line*/
}
a:link, a:visited{
	color:lightgrey;
	text-decoration:underline;
}
a.page:link, a.page:visited{
	color:darkslategrey;
	text-decoration:underline;
}
a.resume:link, a.resume:visited{
	color:black;
	text-decoration: underline dotted;
}
a:hover, a:active{
	color:white;
	
}
a.page:hover, a.page:active, a.resume:hover, a.resume:active{
	color:grey;
}

/* add column layouts */
section{
	float:left;
	width: 100%;
}
.left{
	width: 50%;
}
.right{
	width: 50%;
}

@media screen and (max-width:450px){
	.left{
		width:100%;
	}
	.right{
		width:100%;
	}
	.main{
		width:100%;
	}
	aside{
		width:100%;
		float:left;
	}
	li.nav{
		display:block
	}
	img.aside{
		width:100%;
	}
}
