/*main.css*/
body{
	background-color:#E2E2E2;
	font-family:"Century Gothic";
	margin-left: 10%;
	margin-right: 10%;
}
h1{
	color:#D10808;
}
h3{
	color:#D10808;
}
h4{
	color:#D10808;
	text-decoration:underline;
}
p{
	font-family: "Century";
	color:darkslategrey;
	max-width: 700px  /*for readability */
}
#selected{
	color:white;
	text-decoration: underline;
}
.nav{
	text-align: center;
	background-color:#D10808;
	color:darkslategrey;
	padding-top:10px;
	padding-bottom:2px;
}
a:link, a:visited, a:active{
	color:darkgrey;
	text-decoration:underline;
}
a:hover{
	color:white;
	
}
